.container {
  background: var(--silver);
  border-radius: 1rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  
}

.list {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: center;
  margin: 0;
  gap: 0.8rem;
}


.item {
  /* font-size: 14px; */
  text-decoration: none;
  display: grid;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.link {
    display: grid;
    justify-content: center;
    align-items: center;
}

.image {
    object-fit: contain;
}

@media (min-width: 550px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 991px) {
}

@media (min-width: 1064px) {
}
