.slider {
  display: none;
  width: 100%;
  height: auto;
}

.active {
  display: block;
}
.sliderBodyText {
  display: grid;
  align-content: space-evenly;
  justify-items: start;
  height: 100%;
}

.title {
  z-index: 1;
  font-size: 1.8rem;
  margin: 0;
  background-color: color-mix(in srgb, var(--slider-bg-color), transparent 50%);
  box-shadow: 0 0 0.5rem 1rem
    color-mix(in srgb, var(--slider-bg-color), transparent 50%);
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
}

.text {
  font-size: 1rem;
  z-index: 1;
  margin: 0;
  color: inherit;
  text-decoration: none;
  background-color: color-mix(in srgb, var(--slider-bg-color), transparent 50%);
  box-shadow: 0 0 0.3rem 1rem
    color-mix(in srgb, var(--slider-bg-color), transparent 50%);
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
}

.sliderImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sliderImageBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .text {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 3rem;
  }
  .text {
    font-size: 2rem;
  }
}
