.slider {
    display: none;
    width: 100%;
    height: 100%;
}

.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title {
    font-size: 30px;
}

.text {
    font-size: 18px;
}

.sliderImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width:768px) {
    .title {
        font-size: 60px;
    }
    .text {
        font-size: 29px;
    }
}
