.slider {
    display: none;
    width: 100%;
    height: auto;
}

.active {
    display: block;
}
.sliderBodyText {
    display: grid;
    padding: 40px 0;
    height: 100%;
}

.title {
    z-index: 1;
    font-size: 30px;
    margin: 0;
    color: var(--white-color);
}

.text {
    font-size: 18px;
    z-index: 1;
    margin: 0;
    color: var(--white-color);
}

.sliderImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sliderImageBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    object-fit: cover;
}

@media (min-width:768px) {
    .title {
        font-size: 60px;
    }
    .text {
        font-size: 29px;
    }
}
