.content {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.arrow {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  color: var(--color-primary);
}

.path {
  fill: var(--color-primary);
  width: 0.3rem;
}

.item {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.link {
  text-decoration: none;
  .name {
    color: var(--color-text);
  }
}

.name {
  font-size: 1rem;
  color: var(--color-gray);
}
