.root {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0.2rem 0.5rem;
}

.info {
  color: var(--color-text);
  font-size: 0.75rem;
  text-decoration: none;
  font-weight: 500;
}

.icon {
  height: 1rem;
}