.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  grid-area: slider;
}

.images {
  display: flex;
  transition: transform 0.3s ease-in-out;
  min-height: 500px;
  max-height: 500px;
  border-radius: 1rem;
  overflow: hidden;
  background: var(--black)
}

.image {
  object-fit: contain;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.1s;
}

.visible {
  opacity: 1;
}

.btn {
  width: 48px;
  height: 48px;
  background: rgb(38, 38, 38);
  border-radius: 6px;
  box-shadow: 0px 0px 8px 0px rgba(182, 182, 182, 0.25);
  border: 0;
}

.btn:hover {
  background-color: var(--primary);
  transition: background-color 0.3s;
}

.left {
  position: absolute;
  top: 50%;
  left: 2%;
}

.right {
  position: absolute;
  top: 50%;
  right: 2%;
}