.header {
    
}

.headerTop {
    padding: 12px 20px;
    background: var(--silver);
}

.headerTopList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.headerTopListItem:last-child {
    display: flex;
    align-items: center;
    gap: 7px;
}

.headerMiddle {
    padding: 22px 120px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.headerBottom {

}

@media  (min-width: 768px){
    .headerTop {
        padding: 12px 80px;
    }
}

@media  (min-width: 1024px){
    .headerTop {
        padding: 12px 120px;
    }
}