* {
  box-sizing: border-box;
}

body {
  /* font-family: 'CoSo'; */
  font-size: 16px;
  margin: 0;
  color: var(--black);
}

button {
  cursor: pointer;
}


.scroll::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 1rem;
}
 
/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #cecece; 
  border-radius: 1rem;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0; 

}