.container {
  padding: 0.85rem;
  position: relative;
  border-radius: 1rem;
  background: #fff;
  /* shad1 */
  box-shadow: 0px 0px 32px 0px color-mix(in srgb, var(--gray), transparent 80%);
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  gap: 1rem;
  transition: box-shadow 0.2s;
}

.container:hover {
  box-shadow: 0px 0px 16px 0px
    color-mix(in srgb, var(--primary), transparent 60%);
}

.topLeftGroup {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto;

  border-radius: 0.5rem;
}

.icon {
  background-color: color-mix(in srgb, var(--white), transparent 15%);
  border-radius: 0.5rem;
  padding: 0.3rem;
  box-shadow: 0 0 5px 1px color-mix(in srgb, var(--white), transparent 15%);
}

.title {
  /* width: 75%; */
  color: var(--gray-dark);
  font-size: 1.15rem;
  /* font-weight: */
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  font-weight: normal;
  /* text-transform: capitalize; */
}

.title::first-letter {
  text-transform: uppercase;
}

.blockPrice {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.85rem;
}

.toDetail {
  display: grid;
  text-decoration: none;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .title {
    white-space: nowrap;
  }
}
