.container {
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  background: #fff;
  /* shad1 */
  box-shadow: 0px 0px 32px 0px color-mix(in srgb, var(--gray), transparent 80%);
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  gap: 1rem;
  /* height: 100%; */
  justify-content: space-between;
  transition: box-shadow 0.2s;
}

.container:hover {
  box-shadow: 0px 0px 16px 0px color-mix(in srgb, var(--sky), transparent 60%);
}

.topLeftGroup {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto;

  border-radius: 0.5rem;
}

.icon {
  background-color: color-mix(in srgb, var(--white), transparent 15%);
  /* padding: 0.3rem; */
  border-radius: 0.5rem;
  padding: 0.3rem;
  box-shadow: 0 0 5px 1px color-mix(in srgb, var(--white), transparent 15%);
}

.title {
  /* width: 75%; */
  color:  var(--dark);
  font-size: 1.4rem;
  /* font-weight: */
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  font-weight: normal;
  /* text-transform: capitalize; */
}

.title::first-letter {
  text-transform: uppercase;
}

.blockPrice {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

/* .characteristics {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: space-between;
}

.characteristicsBlockInfo {
    padding: 10px 10px;
    border: 1px solid #C2C2C4;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
} */

/* .iconMotor::before {
    content: "";
    background: url('../../../images/svg/motor.svg') no-repeat center;
    background-size: 19px 16px;
    width: 19px;
    height: 16px;
    display: inline-block;
}

.iconTank::before {
    content: "";
    background: url('../../../images/svg/tank.svg') no-repeat center;
    background-size: 19px 16px;
    width: 19px;
    height: 16px;
    display: inline-block;
}

.iconSpeed::before {
    content: "";
    background: url('../../../images/svg/speed.svg') no-repeat center;
    background-size: 19px 16px;
    width: 19px;
    height: 16px;
    display: inline-block;
} */

/* .characterText {
    padding: 0;
    margin: 0;
    font-size: 8px;
} */

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.toDetail {
  display: grid;
  text-decoration: none;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .title {
    white-space: nowrap;
  }
}
