.blockCarInStock  {
    padding: 30px 12px;
    position: relative;
    border-radius: 25px;
    background: #FFF;
    /* shad1 */
    box-shadow: 0px 0px 30px 0px rgba(133, 147, 159, 0.30);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    color: #000;
    font-size: 27px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.groupBtn {
    position: absolute;
    top: 10%;
    right: 5%;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

.blockImageCard {
    display: flex;
    justify-content: center;
}

.blockPrice {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.characteristics {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: space-between;
}

.characteristicsBlockInfo {
    padding: 10px 10px;
    border: 1px solid #C2C2C4;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.iconMotor::before {
    content: "";
    background: url('../../../images/svg/motor.svg') no-repeat center;
    background-size: 19px 16px;
    width: 19px;
    height: 16px;
    display: inline-block;
}

.iconTank::before {
    content: "";
    background: url('../../../images/svg/tank.svg') no-repeat center;
    background-size: 19px 16px;
    width: 19px;
    height: 16px;
    display: inline-block;
}

.iconSpeed::before {
    content: "";
    background: url('../../../images/svg/speed.svg') no-repeat center;
    background-size: 19px 16px;
    width: 19px;
    height: 16px;
    display: inline-block;
}

.characterText {
    padding: 0;
    margin: 0;
    font-size: 8px;
}

.btnMore {
    display: block;
    text-align: center;
    padding: 12px 0;
    border-radius: 14px;
    background: #007bfb;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

@media (min-width: 576px) {
    .characterText {
        font-size: 12px;
    }
}