.top {
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  margin-bottom: 0.8rem;
  justify-content: space-between;
  cursor: pointer;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

.options {
  display: grid;
  row-gap: 0.5rem;
  max-height: 300px;
  overflow: auto;
}

.option {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  justify-content: start;
  column-gap: 0.4rem;
  
  cursor: pointer;
}

.disabled {
  font-weight: 300;
  opacity: 0.5;
}

.optionName {
  font-size: 0.95rem;
  color: var(--gray-dark)
}


.optionCount {
  font-size: 0.65rem;
  color: var(--gray-dark);
  padding-bottom: 0.4rem;
}

.range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.toggle {
  background: none;
  border: none;
  color: var(--primary);
  width: 1.2rem;
  height: 1.2rem;
  padding: 0rem;
  transform: rotate(90deg);
  &.show {
    transform: rotate(-90deg);
  }
}

