.root {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  align-items: center;
  gap: 0.85rem;
}
.icon {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--color-gray);
  height: 1.4rem;
  width: 1.4rem;
}

.icon:hover {
  color: var(--color-text);
}

@media (min-width: 1024px) {
  .icon {
    height: 1.75rem;
    width: 1.75rem;
  }
}
