.button {
  --color-bg: var(--color-light-bg);
  --color: var(--color-primary);
  border: 0;
  background: var(--color-bg);
  color: var(--color);
  padding: 0.65rem 0.85rem;
  border: 1px solid var(--color);
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s;
  &.primary {
    /* --color: var(--color-green); */
    /* --color-bg: var(--color-primary); */
    background: var(--color-primary);
    color: var(--color-light-bg);
  }
  &.green {
    --color: var(--color-green);
  }
  &.red {
    --color: var(--color-red);
  }
}

.button:hover {
  background-color: color-mix(in srgb, var(--color) 5%, var(--color-bg));
  color: var(--color);
  border-style: dashed;
  box-shadow: 0px 0px 8px 0px
    color-mix(in srgb, var(--color), transparent 75%);
}
