.block {
    /* min-width: 438px; */
    flex: 0 0 auto;
    width: calc(100% / 1); 
}

.itemHrefBlock {
    border-radius: 24px;
    border-width: 0;
    display: flex;
    height: 100%;
    overflow: hidden!important;
    position: relative;
    transition: all .2s ease-in-out;
}

.itemImage {
    width: 100%;
    height: auto;
}

.itemBody {
    position: absolute;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.itemBody::before {
    background-image: linear-gradient(180deg,transparent 40%,rgba(12,13,14,.6));
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.itemTitle {
    margin-top: auto;
    padding: 0;
    color: #fff;
}

@media (min-width: 576px) {
    .block {
        width: calc(100% / 2); 
    }
}

@media (min-width: 992px) {
    .block {
        width: calc(100% / 3); 
    }
}