.top {
  display: grid;
  gap: 1rem;
  padding: 1rem 0px;
}

.cont {
  display: grid;
  gap: 1.5rem;
  align-items: start;
}

.childrensList {
  display: grid;
  gap: 2rem;
}

.childrensItem {
  display: grid;
  gap: 1rem;
}

.title {
  margin-top: 0;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .childrensList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .aside {
    top: calc(65px + 1.2rem);
    position: sticky;
  }
  .cont {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 280px;
  }
}

@media (min-width: 1400px) {
}
