.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background: color-mix(in srgb, var(--white), transparent 5%);
  /* filter: blur(8px); */

  &.showCatalog {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100svh;

    .catalogContainer {
      display: block;
    }
  }
}

.headerShadow {
  box-shadow: 0px 0px 32px 0px color-mix(in srgb, var(--gray), transparent 60%);
}

.subHeader {
  padding-top: 22px;
  padding-bottom: 22px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-content: space-between;
  background-color: var(--white);
}

.catalogContainer {
  display: none;
}

.iconWrap {
  display: grid;
  align-items: center;
}

.catalogGrid {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  position: relative;
  align-items: flex-start;
}

.bottomMenu {
  display: none;
}

@media (min-width: 768px) {
  .bottomMenu {
    display: block;
  }
}

@media (min-width: 1024px) {
  .subHeader {
    grid-template-columns: repeat(4, auto);
  }
}
