.root {
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
  justify-items: end;
  gap: 0.5rem;
  align-items: center;

}

.val {
  font-size: 0.95rem;
  font-weight: 500;
}

.label {
  color: var(--color-gray);
  font-size: 0.85rem;
  height: 1rem;
  /* padding: 0.2rem 0; */
}