.top {
  padding: 16px 0px;
}

.main {
  display: grid;
  column-gap: 1.5rem;
  /* grid-template-columns: 1fr 11fr; */
  margin-bottom: 2rem;
}

.section {
  display: grid;
  row-gap: 1.5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: flex-start;
}

.aside {
  position: relative;
}

.aside__container {
  top: 6rem;
  position: sticky;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.5rem;
  
}

.categories {
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 0.4rem;
}
.category {
  color: var(--gray-dark);
  text-decoration: none;

}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 240px 20fr;
  }
}

@media (min-width: 992px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
