.top {
  padding: 16px 0px;
}

.containerProduct {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .containerProduct {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1064px) {
  .containerProduct {
      grid-template-columns: repeat(3, 1fr);
  }
}