.top {
  padding: 1.8rem 0px;
}

.title {
  margin-top: 0px;
}

.first {
  margin-top: 0 !important;
}

.col2 {
  display: grid;
}

@media (min-width: 992px) {
  .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
