.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background: var(--color-light-bg);
  box-shadow: 0px 0px var(--shadow-size) 0px
    color-mix(in srgb, var(--color-primary-light-bg), transparent 85%);

  &.showCatalog {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100svh;

    .catalogContainer {
      display: block;
    }
  }
}

.burger {
  grid-area: burger;
}

.right {
  grid-area: right;
}

.logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 1rem;
  grid-area: logo;
  /* width: 100px; */
}

.logoImg {
  height: 42px;
  margin-top: -12px;
}

.logoTitle {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.search {
  grid-area: search;
}

.contacts {
  display: none;
  /* grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0.2rem 0.5rem; */
  grid-area: contacts;
}


.actions {
  display: none;
}

/* .info {
  color: var(--color-text);
  font-size: 0.75rem;
  text-decoration: none;
  font-weight: 500;
} */

/* .icon {
  height: 1rem;
} */

.subHeader {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 4.5rem;
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-areas: "burger logo right";
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-bg);
  /* grid-template-areas:  */
}

.catalogContainer {
  display: none;
}

.catalogGrid {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  position: relative;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .subHeader {
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: "logo burger search contacts right";
  }
  .contacts {
    display: grid;
  }
}

@media (min-width: 1200px) {
  .actions {
    display: block;
  }
  /* .subHeader {
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: "logo burger search contacts right";
  } */
}
