.root {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background: var(--color-light-bg);
  box-shadow: 0px 0px var(--shadow-size) 0px
    color-mix(in srgb, var(--color-primary-light-bg), transparent 85%);
  /* color: var(--color-lighter); */
  /* background-color: var(--color-darker); */
  /* box-shadow: 0 0 2px 0px rgb(from var(--color-dark) r g b / 60%); */
  padding: 0.8rem 0;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
}

/* .socCols {
  display: flex;
  gap: 1rem;
  align-items: center;
} */

.logo {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 1.5rem;
  font-weight: 700;
  /* color: var(--color-dark); */
  fill: var(--color-lighter);
  column-gap: 1rem;
}

.logoIcon {
  width: 2rem;
  height: 2rem;
  /* padding: 0.4rem; */
  
}

.logoIconContainer {
  /* background-color: var(--color-lighter); */
  display: flex;
  justify-content: center;
    align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  color: var(--color-lighter);
}

.icon {
  height: 2rem;
  width: 2rem;
}