.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background: color-mix(in srgb, var(--white), transparent 5%);
  /* filter: blur(8px); */

  &.showCatalog {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100svh;

    .catalogContainer {
      display: block;
    }
  }
}

.burger {
  grid-area: burger;
}

.right {
  grid-area: right;
}

.logo {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  grid-area: logo;
  /* width: 100px; */
}

.logoImg {
  height: 24px;
}

.logoImg2 {
  height: 16px;
}

.contacts {
  /* display: grid; */
  display: none;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0.2rem 0.5rem;
  grid-area: contacts;
}

.info {
  color: var(--black);
  font-size: 0.85rem;
  text-decoration: none;
  font-weight: 500;
  /* grid-area: info; */
}

.icon {
  height: 1rem;
}

.shadow {
  box-shadow: 0px 0px 24px 0px color-mix(in srgb, var(--gray), transparent 90%);
}

.subHeader {
  padding-top: 22px;
  padding-bottom: 22px;
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-areas: "burger logo right";
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  /* grid-template-areas:  */
}

.catalogContainer {
  display: none;
}

.iconWrap {
  display: grid;
  align-items: center;
}

.catalogGrid {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  position: relative;
  align-items: flex-start;
}

.bottomMenu {
  display: none;
}

@media (min-width: 768px) {
  .bottomMenu {
    display: block;
  }
  .subHeader {
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "burger logo contacts right";
  }
  .contacts {
    display: grid;
  }
}

@media (min-width: 1024px) {
}
