.root {
  display: grid;

  gap: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.65rem;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1.5rem;
}

.toDetail {
  display: grid;
  justify-items: end;
}

.title {
  color: var(--color-gray-dark);
  font-size: 1.15rem;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}

.text {
  font-family: inherit;
  font-size: 0.85rem;
  white-space: pre-wrap;
}

.title::first-letter {
  text-transform: uppercase;
}



.col2 {
  display: grid;
  row-gap: 1rem;
  align-content: space-between;
}


