.nav {
  display: none;
  align-items: center;
}
.list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}


.link {
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .nav {
    display: flex;
  }
}
