.main {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 2rem;
  display: grid;
}

.section {
  display: grid;
  row-gap: 1.5rem;
  background-color: var(--color-light-bg);
  border-radius: 0.9rem;
  padding: 1.4rem;
  box-shadow: 0px 0px var(--shadow-size) 0px color-mix(in srgb, var(--color-primary-light-bg), transparent 85%);
}

/* .row {
  display: flex;
  justify-content: space-between;
}

.rowHead {
  
  font-weight: bold;
} */


.th, .td {
  padding: 0.3rem 0.2rem;
}



@media (min-width: 576px) {
}

@media (min-width: 768px) {
  

}

@media (min-width: 992px) {
  .main {
    grid-template-columns: 1fr auto;
  }
  .colGrow {
    width: 100%;
  }
  
  .colUnit {
    min-width: 80px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
