.main {
  display: grid;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
  display: grid;
}

.aside {
}

.section {
  display: grid;
  row-gap: 1.5rem;
  background-color: var(--white);
  border-radius: 1.4rem;
  padding: 1.4rem;
  box-shadow: 0px 0px 32px 0px color-mix(in srgb, var(--gray), transparent 86%);
}

.row {
  display: grid;
  grid-template-columns: minmax(150px, 1.6fr) minmax(150px, 1fr) minmax(150px, 0.8fr);
}

.rowHead {
  font-weight: bold;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr auto;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
