* {
  box-sizing: border-box;
}

html {
  opacity: 0;
  transition: opacity 0.05s;
  /* font-size: 20x; */
}

html[data-theme="dark"] {
  color-scheme: dark;
  opacity: initial;
}
html[data-theme="light"] {
  color-scheme: light;
  opacity: initial;
}

body {
  /* font-family: 'CoSo'; */
  font-size: 20px;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}



.scroll::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: var(--color-scroll-track);
  border-radius: 0.5rem;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: var(--color-scroll-thumb);
  border-radius: 0.5rem;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-hover);
}

.rotate180 {
  transform: rotate(180deg);
}

.grid {
  display: grid;
  grid-template-columns: auto;
  gap: 3.6rem 1.5rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
   .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}





@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1320px) {
  .container {
    width: 1200px;
  }
}
