:root {
  --color-bg: #f8f8f894;
  --color-light-bg: #ffffff;
  --color-primary-light-bg: #abb292;
  --color-text: #3f3f3f;
  --color-gray: #96ac8c;
  --color-gray-dark: #6c7e5c;
  --color-gray-light: #e5f0e0;
  --color-primary: #898c7f;
  --color-green: #6bd731;
  --color-red: #ca0100;

  --color-scroll-track: #eaece6;
  --color-scroll-thumb: #dfe2da;
  --color-scroll-hover: #999b96;

  --shadow-size: 12px

  /* --color-shadow: rgba(182, 182, 182, 0.2); */
}

/* Темная тема */
[data-theme="dark"] {
  --color-bg: #0d0e0dd6;
  --color-light-bg: #1a1b1a;
  --color-primary-light-bg: #b7c2a8;
  --color-text: #efefef;
  --color-gray: #84917b;
  --color-gray-dark: #a7b19f;
  --color-gray-light: #99a191;
  --color-primary: #b0b6a7;
  --color-green: #6bd731;
  --color-red: #ca6c6c;

  --color-scroll-track: #505349;
  --color-scroll-thumb: #9aa094;
  --color-scroll-hover: #73796b;

  --shadow-size: 3px;

  /* --color-shadow: rgba(111, 96, 88, 0.2); */

  img {
    filter: brightness(85%);
  }

  .imgdoc {
    filter: invert(85%);
  }
}
