:root {
  --color-bg: #fcfcfcef;
  --color-light-bg: #ffffff;
  --color-primary-light-bg: #abb292;
  --color-text: #3f3f3f;
  --color-gray: #96ac8c;
  --color-gray-dark: #6c7e5c;
  --color-gray-light: #e5f0e0;
  --color-primary: #898c7f;
  --color-green: #6bd731;
  --color-red: #ca0100;

  --color-scroll-track: #f1f8ff;
  --color-scroll-thumb: #cfe0f3;
  --color-scroll-hover: #c0dcf8;

  /* --color-shadow: rgba(182, 182, 182, 0.2); */
}

/* Темная тема */
[data-theme="dark"] {
  --color-bg: #0d0e0dd6;
  --color-light-bg: #222521;
  --color-primary-light-bg: #c7d1a1;
  --color-text: #efefef;
  --color-gray: #7b926b;
  --color-gray-dark: #97b186;
  --color-gray-light: #96a08d;
  --color-primary: #b2b6a7;
  --color-green: #6bd731;
  --color-red: #ca6c6c;

  --color-scroll-track: #283e52;
  --color-scroll-thumb: #6f96c2;
  --color-scroll-hover: #3c73ad;

  /* --color-shadow: rgba(111, 96, 88, 0.2); */

  img {
    filter: brightness(85%);
  }

  .imgdoc {
    filter: invert(85%);
  }
}
