:root {
  --color-bg: #f8f7f7;
  --color-light-bg: #ffffff;
  --color-primary-light-bg: #b8a7a4;
  --color-text: #3f3f3f;
  --color-gray: #998d85;
  --color-gray-dark: #6b6059;
  --color-gray-light: #ccc6c1;
  --color-primary: #9d7d77;
  --color-green: #6bd731;
  --color-red: #ca0100;

  --color-scroll-track: #eaece6;
  --color-scroll-thumb: #dfe2da;
  --color-scroll-hover: #999b96;

  --shadow-size: 12px

  /* --color-shadow: rgba(182, 182, 182, 0.2); */
}

/* Темная тема */
[data-theme="dark"] {
  --color-bg: #23201f;
  --color-light-bg: #1a1b1a;
  --color-primary-light-bg: #ca9c7f;
  --color-text: #efefef;
  --color-gray: #bdb0a9;
  --color-gray-dark: #ccc6c1;
  --color-gray-light: #6b6059;
  --color-primary: #bf978f;
  --color-green: #6bd731;
  --color-red: #ca6c6c;

  --color-scroll-track: #505349;
  --color-scroll-thumb: #9aa094;
  --color-scroll-hover: #73796b;

  --shadow-size: 6px;

  /* --color-shadow: rgba(111, 96, 88, 0.2); */

  img {
    filter: brightness(85%);
  }

  .imgdoc {
    filter: invert(85%);
  }
}
