.text {
  line-height: 1.5rem;
  p {
    margin: 0.85rem 0;
  }

  ul,
  ol {
    padding-left: 2rem;
    margin: 0.85rem 0;
  }

  li {
    margin: 0.3rem 0;
  }

  h2 {
    font-size: 1.8rem;
    margin: 2.2rem 0 1.2rem;
  }

  h3 {
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
  }

  h4 {
    font-size: 1.4rem;
    margin: 1.8rem 0 0.85rem;
  }

  h5 {
    font-size: 1.2rem;
    margin: 1.6rem 0 0.85rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid var(--color-gray);
    padding: 0.2rem;
  }

  a {
    /* color: ; */
    font-weight: 500;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .text {
    img {
      max-height: 40svh;
    }
  }
}
