.text {
  line-height: 1.5rem;
  p {
    margin: 1.35rem 0;
  }

  ul,
  ol {
    padding-left: 2rem;
    margin: 1.35rem 0;
  }

  li {
    margin: 0.4rem 0 0.2rem;
    p {
      margin: 0 0;
    }
  }

  h2 {
    font-size: 1.8rem;
    margin: 2.2rem 0 1.2rem;
  }

  h3 {
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
  }

  h4 {
    font-size: 1.4rem;
    margin: 1.8rem 0 0.85rem;
  }

  h5 {
    font-size: 1.2rem;
    margin: 1.6rem 0 0.85rem;
  }
  .table {
    max-width: calc(100vw - 1.6rem);
    overflow-x: auto;
  }
  table {
    font-size: 0.8rem;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 1px var(--color-gray);
  }

  th {
    font-size: bold;
  }

  td,
  th {
    border: 1px solid var(--color-gray);
    padding: 0.4rem;
    p {
      margin: 0;
    }
    line-height: 1.15;
  }

  th {
    background-color: color-mix(in srgb, var(--color-gray), transparent 40%);
  }

  tr:nth-child(odd) {
    background-color: color-mix(in srgb, var(--color-gray), transparent 65%);
  }

  td:nth-of-type(n + 2) {
    text-align: center;
  }

  a {
    /* color: ; */
    font-weight: 500;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    border-radius: 12px;
  }
}

.tar16 {
  img {
    aspect-ratio: 1.6;
    object-fit: cover;
  }
}

.tgrid {
  display: grid;
  img {
    width: 100%;
  }
}

.tcol1 {
  gap: 0.8rem;
  grid-template-columns: 1fr;
}

.tcol2 {
  gap: 0.8rem;
}

.tcol3 {
  gap: 0.8rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .tcol2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  table {
    font-size: 0.95rem;
  }
  .tcol3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
