.input {
    width: 100%;
}

.blockSelection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.form {
    display: grid;
    gap: 20px;
}

.select {
    height: 65px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--silver);
}

.btn {
    height: 65px;
    background: #007bfb;
    color: #fff;
    border: 0;
    border-radius: 6px;
    width: 100%;
}

@media (min-width: 576px) {
    .blockSelection {
        grid-template-columns: 1fr 1fr;
    }
}