.top {
  padding: 1.8rem 0px;
}

.body {
  display: grid;
  column-gap: 2rem;
}

.content {
  display: grid;
  column-gap: 1rem;
  position: relative;
  background-color: var(--color-light-bg);
  border-radius: 1.4rem;
  padding: 1.4rem;
  box-shadow: 0px 0px 16px 0px
    color-mix(in srgb, var(--color-primary-light-bg), transparent 94%);
}

.stickyBlock {
  position: sticky;
  top: 7rem;
  display: grid;
  gap: 20px;
}

.anchorButtons {
  display: grid;
  gap: 15px;
}

.anchorButton {
  color: var(--color-gray);
  text-decoration: none;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;
  align-items: center;
}

.products > div:nth-child(2n) {
  background-color: var(--color-light-bg);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
  .body {
    grid-template-columns: 1fr auto;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .content {
    padding: 3rem;
  }
}
