.root {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  & > button {
    padding: 0.2rem 0.5rem; 
    border-radius: 6px; 
    border: none;
    cursor: pointer;
    background-color: var(--color-gray-light);
  } 
}