.button {
  border: 0;
  background: var(--white);
  color: var(--primary);
  padding: 0.65rem 0.85rem;
  border: 1px dotted var(--primary);
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
  &.primary {
    background: var(--primary);
    color: var(--white);
  }
}

.button:hover {
  background-color: color-mix(in srgb, var(--primary) 10%, var(--white));
  color: var(--primary);
  box-shadow: 0px 0px 12px 0px
    color-mix(in srgb, var(--primary), transparent 50%);
}


