.root {
  display: grid;
  grid-template-columns: 1fr auto; 
  column-gap: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.65rem;
  align-items: center;
}

.icon {
  background-color: color-mix(in srgb, var(--white), transparent 15%);
  border-radius: 0.5rem;
  padding: 0.3rem;
  box-shadow: 0 0 5px 1px color-mix(in srgb, var(--white), transparent 15%);
}

.title {
  color: var(--gray-dark);
  font-size: 1rem;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}

.title::first-letter {
  text-transform: uppercase;
}

.sellerInfo {
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  color: var(--gray);
}

.actions {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.75rem;
}