.root {
  display: grid;
  padding: 0.25rem;
  /* row-gap: 0.6rem; */
  height: 100%;
  align-content: space-between;
  background-color: var(--color-white);
  border-radius: 0.6rem;
  box-shadow: 0px 0px var(--shadow-size) 0px
    color-mix(in srgb, var(--color-primary-light-bg), transparent 90%);
  background: var(--color-light-bg);
}

.gallery {
  position: relative;
  border-radius: 0.6rem;
  overflow: hidden;
  /* padding: 0.6rem; */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgba(45, 43, 41, 0.05) */
  }
}

.image {
  /* margin: 0.5rem; */
  /* padding: 0.8rem; */
  width: 100%;
  height: 100%;
  aspect-ratio: 1.618 / 1;
  object-fit: cover;
  /* border-radius: 0.5rem; */
  overflow: hidden;
  /* background-color: white; */
  /* img {
    border-radius: 0.5rem;
  } */
}

/* .icon {
  background-color: color-mix(in srgb, var(--color-light-bg), transparent 15%);
  border-radius: 0.5rem;
  padding: 0.3rem;
  box-shadow: 0 0 5px 1px
    color-mix(in srgb, var(--color-light-bg), transparent 15%);
} */

.title {
  color: var(--color-gray-dark);
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title::first-letter {
  text-transform: uppercase;
}

.date {
  color: var(--color-gray);
  /* font-size: 1rem; */
  font-weight: 500;
  font-size: 0.85rem;
}

/* .actions {
  grid-area: actions;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.75rem;
  justify-content: end;
} */

.info {
  padding: 0.6rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;

  gap: 0.5rem;
}

@media (min-width: 992px) {
  /* .products {
    grid-template-columns: repeat(2, 1fr);
  } */
}

@media (min-width: 1200px) {
  /* .products {
    grid-template-columns: repeat(3, 1fr);
  } */
  /* .root {
    grid-template-columns: 400px 1fr auto;
    grid-template-areas: "title seller actions";
    padding: 0.75rem 1rem;
  } */
}

@media (min-width: 1400px) {
  /* .products {
    grid-template-columns: repeat(4, 1fr);
  } */
}
