.top {
  padding: 1.8rem 0px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
}

.block {
  box-shadow: 0px 0px 16px 0px
    color-mix(in srgb, var(--color-primary-light-bg), transparent 94%);
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 24px;
  padding: 32px;
}

.firstBlock {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
  display: grid;
  justify-items: center;
}
.imgTitle {
  width: 85%;
  height: auto;
  aspect-ratio: 1;
}
.allGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  align-content: center;
}
.wow {
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.wowBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0px;
  flex-basis: 140px;
}
.wowNumber {
  font-size: 26px;
  font-weight: 600;
  white-space: nowrap;
}

.wowList {
  padding-left: 30px;
}
.wowCallBackText {
  font-size: 18px;
}
.wowTwo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.bold {
  font-weight: bold;
}

@media (min-width: 576px) {
  .wow {
    grid-template-columns: repeat(3, 1fr);
    /* padding: 64px 16px; */
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
}
