.button {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  height: 1.8rem;
  width: 1.8rem;
  color: var(--color-gray);
  align-items: center;
  justify-content: center;
}

.button:hover {
  color: var(--color-text);
}
