.root {
  display: grid;
  gap: 1rem;
  align-items: stretch;
  grid-template-rows: auto auto auto 1fr;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px
}