.footerFirst {
    margin-top: 40px;
    background: #262626;
}

.footerFirstBlock {
    border-bottom: 0.1px solid var(--white);
    padding: 40px 0;
}

.footerFirstList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.footerFirstLink {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

.footerSecondBlock {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "first"
    "second"
    "third";
}
.footerSecondBlock > div:nth-child(1) {
    grid-area: first;
    color: white;
}
.footerSecondBlock > div:nth-child(2) {
    grid-area: second;
    color: white;
}
.footerSecondBlock > div:nth-child(3) {
    grid-area: third;
    color: white;
}

.footerSecondBlockText {
    display: flex;
    align-items: center;
    gap: 21px;
}

.footerSecondTitle {
    font-size: 14px;
    font-weight: 900;
    color: var(--white);
    text-transform: uppercase;
    border-bottom: 1px solid var(--primary);
}

.footerSecondLink {
    color: var(--gray);
    font-weight: 900;
    text-decoration: none;
}

.footerSecondLink:hover {
    color: var(--white);
}

.footerSecondBlockAuto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footerBlockList {
    padding: 0;
    list-style: none;
    line-height: 28px;
}

.footerBlockLink {
    color: var(--gray);
}

.footerBlockLink:hover {
    color: var(--white);
}

.footerSecondUnderBlockFlex {
    display: flex;
}

.footerSecond {
    background: #1B1B1B;
}

.footerSecondGrid {
    display: grid;
    gap: 40px;
    padding: 20px 0;
    grid-template-columns: repeat(1, 1fr);
}

.footerSecondUnderBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerSecondFlexBetween {
    display: flex;
    justify-content: space-between;
}

.footerSecondTextWhite {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.footerSecondText {
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.footerSecondLinkBottom {
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
}

.footerSecondLinkBottom:hover {
    color: var(--white);
}

@media (min-width: 576px) {
    .footerFirstList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .footerSecondBlock {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "first first"
        "second third";
    }

    .footerSecondGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footerSecondBlockAuto {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .footerFirstList {
        grid-template-columns: repeat(5, 1fr);
    }
    
    .footerSecondUnderBlock:first-child {
        flex: 1 0 auto;
    }

    .footerSecondBlock {
        grid-template-columns: 50% 25% 25%;
        grid-template-areas:
        "first second third";
    }

    .footerSecondBlockAuto {
        grid-template-columns: repeat(6, 1fr);
    }
}