
.btn {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border: 0;
    background-color: var(--white);
    box-shadow: 0px 0px 30px 0px rgba(133, 147, 159, 0.30);
    border-radius: 0.5rem;
    transition: color 0.2s, background-color 0.2s;
    color: var(--primary);
    display: grid;
    padding: 0.65rem;
}

.btn:hover {
    background-color: var(--primary);
    color: var(--white);
}