.list {
  display: flex;
  gap: 0.5rem;
  /* flex-wrap: wrap; */
  overflow-x: auto;
  /* padding-bottom: 0.5rem; */
  scrollbar-width: none;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
  
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    gap: 0.5rem;
    /* flex-wrap: wrap; */
  }
}