.root {
  background: var(--color-light-bg);
  box-shadow: 0px 0px var(--shadow-size) 0px color-mix(in srgb, var(--color-primary-light-bg), transparent 90%);
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .root {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .root {
    padding: 1.5rem;
  }

}