.root {
  top: 6rem;
  background: var(--color-light-bg);
  box-shadow: 0px 0px var(--shadow-size) 0px color-mix(in srgb, var(--color-primary-light-bg), transparent 90%);
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  border-radius: 0.5rem;
}