.row {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.col {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px dashed var(--color-gray-light);
  margin: 0.25rem 0;
  font-weight: lighter;
}

.col2 {
  white-space: nowrap;
}