.button {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  height: 2.2rem;
  width: 2.2rem;
}

.content {
  position: absolute;
  top: 100%;
  display: none;
  background-color: var(--white);
}

.show {
  display: block;
}
