.link {
  display: inline-flex;
  font-size: 1rem;
  font-weight: normal;
  align-items: center;
  background-color: rgb(from var(--color-light) r g b / 20%);
  border: 1.2px solid var(--color-dark);
  color: var(--color-dark);
  /* border: 1px solid var(--color-second); */
  box-shadow: 1px 1px 3px 0px  rgb(from var(--color-dark) r g b / 30%);
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  transition: border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
  column-gap: 0.4rem;
}

.link:hover {
  color: var(--color-darker);
  border-color: var(--color-darker);
}

.link.active {
  color: var(--color-light);
  background-color: var(--color-dark);
}
