.content {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.arrow {
  display: inline-flex;
  width: 1rem;
}

.path {
  fill: var(--primary);
  width: 0.3rem;
}

.item {
  display: flex;
  column-gap: 0.5rem;
}

.link {
  text-decoration: none;
  .name {
    color: var(--black);
  }
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray);
}
