.content {
  display: flex;

  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.arrow {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  color: var(--primary)
}

.path {
  fill: var(--primary);
  width: 0.3rem;
}

.item {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  
}

.link {
  text-decoration: none;
  .name {
    color: var(--black);
  }
}

.name {
  font-size: 1.15rem;
  color: var(--gray);
}
