.wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100svh;
  background: color-mix(in srgb, var(--color-bg), transparent 15%);
  z-index: 200;
  /* display: ; */
  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s, visibility step-end 0.2s;
  visibility: hidden;
  &.show {
    transition: opacity 0.2s;
    opacity: 1;
    visibility: visible;
  }
 
}

.window {
  z-index: 100;
  background-color: var(--color-light-bg);
  padding: 2.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 24px 0px color-mix(in srgb, var(--color-primary-light-bg), transparent 90%);

}

.close {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  display: grid;
  height: 2rem;
  width: 2rem;
  align-content: center;
  justify-content: center;

}
