.container {
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  .info {
    display: grid;
    row-gap: 16px;
  }
  
  .image {
    width: 100%;
    aspect-ratio: 1;
    /* height: auto; */
    object-fit: cover;
  }
  
  .link {
    text-decoration: none;
    color: var(--gray-dark);
    font-size: 1rem;
  }
  
  .name {
    margin: 0;
    padding-bottom: 10px;
  }
  
  .prices {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: start;
    column-gap: 8px;
  }
  
  .price {
    font-size: 1.125rem;
    font-weight: bold;
  }
  
  .oldPrice {
    /* font-size: 1rem; */
    color: var(--gray-light);
    text-decoration: line-through;
  }