#!/bin/bash
# Конфигурация деплоя

# Данные сервера
SERVER_USER="..."
SERVER_IP="..."
SERVER_PROJECT_PATH="..."
PM2_SERVICE_NAME="..."
NODE_PATH="~/.nvm/versions/node/v25.0.0/bin/"

# Опции rsync
# RSYNC_OPTIONS="-arvpz --progress --delete"

# Дополнительные настройки
# ENVIRONMENT="production"
# BRANCH="main"
