.top {
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  margin-bottom: 0.8rem;
  justify-content: space-between;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
}

.options {
  display: grid;
  row-gap: 0.5rem;
  max-height: 300px;
  overflow: auto;
}

.option {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.4rem;
  font-weight: 300;
  cursor: pointer;
}

.optionName {
  font-size: 0.85rem;
  color: var(--gray-dark)
}

.range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.toggle {
  background: none;
  border: none;
  color: var(--primary);
}