.input {
  width: 100%;
  padding: 0.65rem 0.85rem;
  border-radius: 0.85rem;
  border: 1px dotted var(--gray);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: var(--red);
  border-color: var(--red);
}

.error::placeholder {
  color: var(--red);
}
