.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: var(--color-light-bg);
    box-shadow: 0px 0px 16px 0px color-mix(in srgb, var(--color-primary-light-bg), transparent 94%);
    padding: 0.8rem 0.8rem 0.8rem 1rem;
    border-radius: 1rem;
}
.label {
    width: 52px;
    height: 52px;
    text-align: center;
}
.text {
    text-align: center;
}
@media (min-width: 992px) {
    .block {
        justify-content: left;
        flex-wrap: nowrap;
    }
}