.wrap {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100svh;
}

.main {
    padding-top: 70px;
    padding-bottom: 32px;
}

@media (min-width: 576px) {
    .main {
        padding-top: 4.5rem;
    }
}