.root {
  margin-top: 34px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 991px) {
  .itemImage {
    display: block;
  }

  .fastBlock {
    grid-template-columns: auto auto;
  }
}
