
.top {
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  padding: 1rem 0px;
}

.title {
  font-weight: 700;
  text-align: center;
}

@media (min-width: 991px) {
  .itemImage {
    display: block;
  }

  .fastBlock {
    grid-template-columns: auto auto;
  }
}
