

.list {
  list-style: none;
  padding: 1.5rem 0;
  margin: 0;
  display: grid;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.link {
  color: var(--color-text);
  font-weight: bold;
  text-transform: uppercase;
}