.container {
  display: grid;
  /* justify-content: stretch; */
  row-gap: 1.4rem;
  /* justify-items: stretch */
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.error {
  margin: 0.5rem 0 0 0 ;
  color: var(--color-red);
}