.top {
  display: grid;
  gap: 1rem;
  padding: 1rem 0px;
}

.body {
  display: grid;
  column-gap: 2rem;
}

.content {
  display: grid;
  column-gap: 1rem;
  position: relative;
  background-color: var(--color-light-bg);
  border-radius: 0.9rem;
  padding: 1.4rem;
  box-shadow: 0px 0px var(--shadow-size) 0px
    color-mix(in srgb, var(--color-primary-light-bg), transparent 90%);
  align-items: start;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1.5rem;
}

.subtitle {
  margin: 2rem 0;
}

.viewsBlock {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.viewsImage {
  width: auto;
}

.viewsText {
  color: var(--color-gray);
  font-size: 16px;
}


@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
  .body {
    grid-template-columns: 1fr auto;
  }
  .content {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .content {
    padding: 3rem;
  }
}
