.top {
    padding: 16px 0px;
}

.colContent {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  position: relative;
  grid-template-areas:
  "slider"
  "info"
  "stickyBar"
  "blockInfo";
}

/* .slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.images {
  display: flex;
  transition: transform .3s ease-in-out;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
} */

.left {
 position: absolute;
 top: 50%;
 left: 5%;
}

.right {
  position: absolute;
  top: 50%;
 right: 5%;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 20px;
}

.viewsBlock {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.viewsImage {
  width: auto;
}

.viewsText {
  color: var(--gray);
  font-size: 16px;
}

.mainPartsBlock {
  display: flex;
  gap: 6px;
  padding-bottom: 20px;
}

.partsBlock {
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 11px;
  background-color: var(--silver);
  border: 1px solid var(--gray-light);
}

.partsText {
  font-size: 14px;
  font-weight: 400;
}

.prices {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  grid-template-columns: auto auto;
  padding-bottom: 20px;
}

.pricesBlock {
  display: flex;
  flex-direction: column;
}

.priceCredit {
  color: var(--gray);
}

.price {
  font-size: 26px;
  font-weight: bold;
}

.oldPrice {
  /* font-size: 1rem; */
  color: var(--gray-light-color);
  text-decoration: line-through;
}

.blockBtn {
  display: flex;
  gap: 14px;
  padding-bottom: 20px;
}

/* Filter */

.tabList {
  list-style: none;
  padding: none;
  display: flex;
  gap: 30px;
}

.filterTable {
  width: calc(100%);
}

.filterThLeft {
  text-align: left;
  padding-bottom: 20px;
}

.filterTd {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

/* Fixed Bar */
.infoProduct {
  grid-area: info;
}

.stickyBar {
  grid-area: stickyBar;
}

.stickyBlock {
  position: sticky;
  top: 30px;
  display: grid;
  gap: 20px;
}

.blockInfo {
  grid-area: blockInfo;
}

.anchorButtons {
  display: grid;
  gap: 15px;
}

.anchorButton {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }

  .colContent {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "slider info"
    "blockInfo stickyBar"
    ;
  }
}

@media (min-width:992px) {
  .colContent {
    grid-template-columns: 5fr 3.5fr 1.5fr;
    grid-template-areas:
    "slider info stickyBar"
    "blockInfo blockInfo stickyBar";
  }
}

@media (min-width: 1200px) {
  
}