.slider {
  background-size: cover;
  /* min-height: 240px; */
  aspect-ratio: 1.6;
  border-radius: 25px;
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.sliderBlock {
  /* padding: 0px 2rem; */
  display: grid;
  color: var(--slider-color);
}

.navigate {
  position: relative;
}

.btn {
  width: 3rem;
  height: 3rem;
  background: none;
  font-size: 2rem;
  border: none;
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* margin: auto; */
  color: var(--slider-color);
  z-index: 2;
}

/* .prev {
  left: 3%;
}

.next {
  right: 3%;
} */


@media (min-width: 576px) {
  /* .sliderBlock {
    padding: 0 8rem;
  } */
  .slider {
    aspect-ratio: 2.4;
  }
}

@media (min-width:768px) {
  /* .slider {
    min-height: 360px;
  } */


  .btn {
    width: 4.2rem;
    height: 4.2rem;
  }
}

@media (min-width: 1200px) {
  /* .slider {
    min-height: 480px;
  } */
}