.slider {
    /* background: var(--gray-400); */
    /* background: url('./bg.jpg') no-repeat; */
    background-size: cover;
    min-height: 400px;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
}

.sliderBlock {
    padding: 0px 40px;
    min-height: 400px;
    display: flex;
}

.navigate{
    position: relative;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-0%, -50%);
    background: url('../../../images/slider/arrowLeft.svg') no-repeat center;
    width: 34px;
    height: 34px;
    border: 0;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(-00%, -50%);
    background: url('../../../images/slider/arrowRight.svg') no-repeat center;
    width: 34px;
    height: 34px;
    border: 0;
}

@media (min-width: 576px) {
    .sliderBlock {
        padding: 0 100px;
    }
}