.slider {
  background-size: cover;
  min-height: 240px;
  border-radius: 25px;
  position: relative;
  display: grid;
}

.sliderBlock {
  padding: 0px 40px;
  display: grid;
  color: var(--slider-color);
}

.navigate {
  position: relative;
}

.btn {
  width: 4rem;
  height: 4rem;
  background: none;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: var(--slider-color);
}

.prev {
  left: 3%;
}

.next {
  right: 3%;
}

@media (min-width: 576px) {
  
}

@media (min-width: 576px) {
  .sliderBlock {
    padding: 0 8rem;
  }
}

@media (min-width:768px) {
  .slider {
    min-height: 360px;
  }
}

@media (min-width: 1200px) {
  .slider {
    min-height: 480px;
  }
}