.container {
  position: relative;
}

.counter {
  position: absolute;
  height: 1rem;
  /* width: 1rem; */
  min-width: 1rem;
  top: -5px;
  right: -8px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  color: white;
  font-size: 0.6rem;
  padding: 0 0.2rem;
  border-radius: 1rem;
  box-sizing: border-box;
}