.list {
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 1.4rem;
  /* max-height: 70vh; */
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0.65rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.85rem;
}
